*~
*.glyphs
*.log
*.pyc
*.sw?

installed-files.txt
pysilfont.cfg

/build
/dev
/dist
/local
/results
/venv

/lib/pysilfont.egg-info
/pysilfont.egg-info
/setuptools-*
/.pytest_cache
/tests/localufos.csv

.idea

.DS_Store
.lock-smithresults
