<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>_notdef.glif</string>
  <key>A</key>
  <string>A_.glif</string>
  <key>AE</key>
  <string>A_E_.glif</string>
  <key>Aacute</key>
  <string>A_acute.glif</string>
  <key>Acircumflex</key>
  <string>A_circumflex.glif</string>
  <key>Adieresis</key>
  <string>A_dieresis.glif</string>
  <key>Agrave</key>
  <string>A_grave.glif</string>
  <key>Amacron</key>
  <string>A_macron.glif</string>
  <key>Aring</key>
  <string>A_ring.glif</string>
  <key>Atilde</key>
  <string>A_tilde.glif</string>
  <key>B</key>
  <string>B_.glif</string>
  <key>C</key>
  <string>C_.glif</string>
  <key>Ccedilla</key>
  <string>C_cedilla.glif</string>
  <key>D</key>
  <string>D_.glif</string>
  <key>Delta</key>
  <string>D_elta.glif</string>
  <key>E</key>
  <string>E_.glif</string>
  <key>Eacute</key>
  <string>E_acute.glif</string>
  <key>Ecircumflex</key>
  <string>E_circumflex.glif</string>
  <key>Edieresis</key>
  <string>E_dieresis.glif</string>
  <key>Egrave</key>
  <string>E_grave.glif</string>
  <key>Emacron</key>
  <string>E_macron.glif</string>
  <key>Eth</key>
  <string>E_th.glif</string>
  <key>Euro</key>
  <string>E_uro.glif</string>
  <key>F</key>
  <string>F_.glif</string>
  <key>G</key>
  <string>G_.glif</string>
  <key>H</key>
  <string>H_.glif</string>
  <key>I</key>
  <string>I_.glif</string>
  <key>Iacute</key>
  <string>I_acute.glif</string>
  <key>Icircumflex</key>
  <string>I_circumflex.glif</string>
  <key>Idieresis</key>
  <string>I_dieresis.glif</string>
  <key>Igrave</key>
  <string>I_grave.glif</string>
  <key>Imacron</key>
  <string>I_macron.glif</string>
  <key>J</key>
  <string>J_.glif</string>
  <key>K</key>
  <string>K_.glif</string>
  <key>L</key>
  <string>L_.glif</string>
  <key>M</key>
  <string>M_.glif</string>
  <key>N</key>
  <string>N_.glif</string>
  <key>Ntilde</key>
  <string>N_tilde.glif</string>
  <key>O</key>
  <string>O_.glif</string>
  <key>OE</key>
  <string>O_E_.glif</string>
  <key>Oacute</key>
  <string>O_acute.glif</string>
  <key>Ocircumflex</key>
  <string>O_circumflex.glif</string>
  <key>Odieresis</key>
  <string>O_dieresis.glif</string>
  <key>Ograve</key>
  <string>O_grave.glif</string>
  <key>Omacron</key>
  <string>O_macron.glif</string>
  <key>Omega</key>
  <string>O_mega.glif</string>
  <key>Oslash</key>
  <string>O_slash.glif</string>
  <key>Otilde</key>
  <string>O_tilde.glif</string>
  <key>P</key>
  <string>P_.glif</string>
  <key>Q</key>
  <string>Q_.glif</string>
  <key>R</key>
  <string>R_.glif</string>
  <key>S</key>
  <string>S_.glif</string>
  <key>Scaron</key>
  <string>S_caron.glif</string>
  <key>T</key>
  <string>T_.glif</string>
  <key>Thorn</key>
  <string>T_horn.glif</string>
  <key>U</key>
  <string>U_.glif</string>
  <key>Uacute</key>
  <string>U_acute.glif</string>
  <key>Ucircumflex</key>
  <string>U_circumflex.glif</string>
  <key>Udieresis</key>
  <string>U_dieresis.glif</string>
  <key>Ugrave</key>
  <string>U_grave.glif</string>
  <key>V</key>
  <string>V_.glif</string>
  <key>W</key>
  <string>W_.glif</string>
  <key>X</key>
  <string>X_.glif</string>
  <key>Y</key>
  <string>Y_.glif</string>
  <key>Yacute</key>
  <string>Y_acute.glif</string>
  <key>Ydieresis</key>
  <string>Y_dieresis.glif</string>
  <key>Z</key>
  <string>Z_.glif</string>
  <key>Zcaron</key>
  <string>Z_caron.glif</string>
  <key>_barH</key>
  <string>_barH_.glif</string>
  <key>_barStemH</key>
  <string>_barS_temH_.glif</string>
  <key>_dot2h</key>
  <string>_dot2h.glif</string>
  <key>_dot2hclose</key>
  <string>_dot2hclose.glif</string>
  <key>_dotabove</key>
  <string>_dotabove.glif</string>
  <key>_dotleft</key>
  <string>_dotleft.glif</string>
  <key>_dotleftclose</key>
  <string>_dotleftclose.glif</string>
  <key>_dotright</key>
  <string>_dotright.glif</string>
  <key>_dotrightclose</key>
  <string>_dotrightclose.glif</string>
  <key>_dotsmall</key>
  <string>_dotsmall.glif</string>
  <key>_fe-ring</key>
  <string>_fe-ring.glif</string>
  <key>_heightcontrol</key>
  <string>_heightcontrol.glif</string>
  <key>_raisedTriangle</key>
  <string>_raisedT_riangle.glif</string>
  <key>_ring</key>
  <string>_ring.glif</string>
  <key>a</key>
  <string>a.glif</string>
  <key>a-cans</key>
  <string>a-cans.glif</string>
  <key>aa-cans</key>
  <string>aa-cans.glif</string>
  <key>aacute</key>
  <string>aacute.glif</string>
  <key>aai-cans</key>
  <string>aai-cans.glif</string>
  <key>aayaNaskapi-cans</key>
  <string>aayaN_askapi-cans.glif</string>
  <key>acircumflex</key>
  <string>acircumflex.glif</string>
  <key>acute</key>
  <string>acute.glif</string>
  <key>acutecomb</key>
  <string>acutecomb.glif</string>
  <key>adieresis</key>
  <string>adieresis.glif</string>
  <key>ae</key>
  <string>ae.glif</string>
  <key>agrave</key>
  <string>agrave.glif</string>
  <key>ai-cans</key>
  <string>ai-cans.glif</string>
  <key>amacron</key>
  <string>amacron.glif</string>
  <key>ampersand</key>
  <string>ampersand.glif</string>
  <key>an-cans</key>
  <string>an-cans.glif</string>
  <key>approxequal</key>
  <string>approxequal.glif</string>
  <key>aring</key>
  <string>aring.glif</string>
  <key>asciicircum</key>
  <string>asciicircum.glif</string>
  <key>asciitilde</key>
  <string>asciitilde.glif</string>
  <key>asterisk</key>
  <string>asterisk.glif</string>
  <key>at</key>
  <string>at.glif</string>
  <key>atilde</key>
  <string>atilde.glif</string>
  <key>ayNaskapi-cans</key>
  <string>ayN_askapi-cans.glif</string>
  <key>b</key>
  <string>b.glif</string>
  <key>backslash</key>
  <string>backslash.glif</string>
  <key>bar</key>
  <string>bar.glif</string>
  <key>blank</key>
  <string>blank.glif</string>
  <key>braceleft</key>
  <string>braceleft.glif</string>
  <key>braceright</key>
  <string>braceright.glif</string>
  <key>bracketleft</key>
  <string>bracketleft.glif</string>
  <key>bracketright</key>
  <string>bracketright.glif</string>
  <key>breve</key>
  <string>breve.glif</string>
  <key>brokenbar</key>
  <string>brokenbar.glif</string>
  <key>bullet</key>
  <string>bullet.glif</string>
  <key>c</key>
  <string>c.glif</string>
  <key>c-cans</key>
  <string>c-cans.glif</string>
  <key>cOjibway-cans</key>
  <string>cO_jibway-cans.glif</string>
  <key>ca-cans</key>
  <string>ca-cans.glif</string>
  <key>caa-cans</key>
  <string>caa-cans.glif</string>
  <key>caai-cans</key>
  <string>caai-cans.glif</string>
  <key>caron</key>
  <string>caron.glif</string>
  <key>caroncomb</key>
  <string>caroncomb.glif</string>
  <key>ccedilla</key>
  <string>ccedilla.glif</string>
  <key>ce-cans</key>
  <string>ce-cans.glif</string>
  <key>cedilla</key>
  <string>cedilla.glif</string>
  <key>cedillacomb</key>
  <string>cedillacomb.glif</string>
  <key>cent</key>
  <string>cent.glif</string>
  <key>chaCarrier-cans</key>
  <string>chaC_arrier-cans.glif</string>
  <key>cheCarrier-cans</key>
  <string>cheC_arrier-cans.glif</string>
  <key>cheeCarrier-cans</key>
  <string>cheeC_arrier-cans.glif</string>
  <key>chiCarrier-cans</key>
  <string>chiC_arrier-cans.glif</string>
  <key>chisign-cans</key>
  <string>chisign-cans.glif</string>
  <key>choCarrier-cans</key>
  <string>choC_arrier-cans.glif</string>
  <key>chuCarrier-cans</key>
  <string>chuC_arrier-cans.glif</string>
  <key>ci-cans</key>
  <string>ci-cans.glif</string>
  <key>cii-cans</key>
  <string>cii-cans.glif</string>
  <key>circumflex</key>
  <string>circumflex.glif</string>
  <key>circumflexcomb</key>
  <string>circumflexcomb.glif</string>
  <key>co-cans</key>
  <string>co-cans.glif</string>
  <key>colon</key>
  <string>colon.glif</string>
  <key>comma</key>
  <string>comma.glif</string>
  <key>coo-cans</key>
  <string>coo-cans.glif</string>
  <key>cooYCree-cans</key>
  <string>cooY_C_ree-cans.glif</string>
  <key>copyright</key>
  <string>copyright.glif</string>
  <key>currency</key>
  <string>currency.glif</string>
  <key>cwa-cans</key>
  <string>cwa-cans.glif</string>
  <key>cwaWestCree-cans</key>
  <string>cwaW_estC_ree-cans.glif</string>
  <key>cwaa-cans</key>
  <string>cwaa-cans.glif</string>
  <key>cwaaNaskapi-cans</key>
  <string>cwaaN_askapi-cans.glif</string>
  <key>cwaaWestCree-cans</key>
  <string>cwaaW_estC_ree-cans.glif</string>
  <key>cwe-cans</key>
  <string>cwe-cans.glif</string>
  <key>cweWestCree-cans</key>
  <string>cweW_estC_ree-cans.glif</string>
  <key>cwi-cans</key>
  <string>cwi-cans.glif</string>
  <key>cwiWestCree-cans</key>
  <string>cwiW_estC_ree-cans.glif</string>
  <key>cwii-cans</key>
  <string>cwii-cans.glif</string>
  <key>cwiiWestCree-cans</key>
  <string>cwiiW_estC_ree-cans.glif</string>
  <key>cwo-cans</key>
  <string>cwo-cans.glif</string>
  <key>cwoWestCree-cans</key>
  <string>cwoW_estC_ree-cans.glif</string>
  <key>cwoo-cans</key>
  <string>cwoo-cans.glif</string>
  <key>cwooWestCree-cans</key>
  <string>cwooW_estC_ree-cans.glif</string>
  <key>d</key>
  <string>d.glif</string>
  <key>dagger</key>
  <string>dagger.glif</string>
  <key>daggerdbl</key>
  <string>daggerdbl.glif</string>
  <key>deeCarrier-cans</key>
  <string>deeC_arrier-cans.glif</string>
  <key>degree</key>
  <string>degree.glif</string>
  <key>diCarrier-cans</key>
  <string>diC_arrier-cans.glif</string>
  <key>dieresis</key>
  <string>dieresis.glif</string>
  <key>dieresiscomb</key>
  <string>dieresiscomb.glif</string>
  <key>divide</key>
  <string>divide.glif</string>
  <key>dollar</key>
  <string>dollar.glif</string>
  <key>dotaccent</key>
  <string>dotaccent.glif</string>
  <key>dotlessi</key>
  <string>dotlessi.glif</string>
  <key>e</key>
  <string>e.glif</string>
  <key>e-cans</key>
  <string>e-cans.glif</string>
  <key>eCarrier-cans</key>
  <string>eC_arrier-cans.glif</string>
  <key>eacute</key>
  <string>eacute.glif</string>
  <key>ecircumflex</key>
  <string>ecircumflex.glif</string>
  <key>edieresis</key>
  <string>edieresis.glif</string>
  <key>egrave</key>
  <string>egrave.glif</string>
  <key>eight</key>
  <string>eight.glif</string>
  <key>ellipsis</key>
  <string>ellipsis.glif</string>
  <key>emacron</key>
  <string>emacron.glif</string>
  <key>emdash</key>
  <string>emdash.glif</string>
  <key>emquad</key>
  <string>emquad.glif</string>
  <key>emspace</key>
  <string>emspace.glif</string>
  <key>en-cans</key>
  <string>en-cans.glif</string>
  <key>endash</key>
  <string>endash.glif</string>
  <key>enquad</key>
  <string>enquad.glif</string>
  <key>enspace</key>
  <string>enspace.glif</string>
  <key>equal</key>
  <string>equal.glif</string>
  <key>eth</key>
  <string>eth.glif</string>
  <key>exclam</key>
  <string>exclam.glif</string>
  <key>exclamdown</key>
  <string>exclamdown.glif</string>
  <key>f</key>
  <string>f.glif</string>
  <key>f-cans</key>
  <string>f-cans.glif</string>
  <key>fa-cans</key>
  <string>fa-cans.glif</string>
  <key>faa-cans</key>
  <string>faa-cans.glif</string>
  <key>faai-cans</key>
  <string>faai-cans.glif</string>
  <key>fe-cans</key>
  <string>fe-cans.glif</string>
  <key>fi</key>
  <string>fi.glif</string>
  <key>fi-cans</key>
  <string>fi-cans.glif</string>
  <key>figuredash</key>
  <string>figuredash.glif</string>
  <key>figurespace</key>
  <string>figurespace.glif</string>
  <key>fii-cans</key>
  <string>fii-cans.glif</string>
  <key>finalacute-cans</key>
  <string>finalacute-cans.glif</string>
  <key>finalbottom-cans</key>
  <string>finalbottom-cans.glif</string>
  <key>finaldbleacute-cans</key>
  <string>finaldbleacute-cans.glif</string>
  <key>finaldbleshortvstrokes-cans</key>
  <string>finaldbleshortvstrokes-cans.glif</string>
  <key>finaldowntack-cans</key>
  <string>finaldowntack-cans.glif</string>
  <key>finalgrave-cans</key>
  <string>finalgrave-cans.glif</string>
  <key>finalmiddledot-cans</key>
  <string>finalmiddledot-cans.glif</string>
  <key>finalplus-cans</key>
  <string>finalplus-cans.glif</string>
  <key>finalraiseddot-cans</key>
  <string>finalraiseddot-cans.glif</string>
  <key>finalrighthalfring-cans</key>
  <string>finalrighthalfring-cans.glif</string>
  <key>finalring-cans</key>
  <string>finalring-cans.glif</string>
  <key>finalshorthstroke-cans</key>
  <string>finalshorthstroke-cans.glif</string>
  <key>finalsmallring-cans</key>
  <string>finalsmallring-cans.glif</string>
  <key>finaltophalfring-cans</key>
  <string>finaltophalfring-cans.glif</string>
  <key>five</key>
  <string>five.glif</string>
  <key>fl</key>
  <string>fl.glif</string>
  <key>florin</key>
  <string>florin.glif</string>
  <key>fo-cans</key>
  <string>fo-cans.glif</string>
  <key>foo-cans</key>
  <string>foo-cans.glif</string>
  <key>four</key>
  <string>four.glif</string>
  <key>fourperemspace</key>
  <string>fourperemspace.glif</string>
  <key>foursuperior</key>
  <string>foursuperior.glif</string>
  <key>fraction</key>
  <string>fraction.glif</string>
  <key>fullstop-cans</key>
  <string>fullstop-cans.glif</string>
  <key>fwaa-cans</key>
  <string>fwaa-cans.glif</string>
  <key>fwaaWestCree-cans</key>
  <string>fwaaW_estC_ree-cans.glif</string>
  <key>g</key>
  <string>g.glif</string>
  <key>germandbls</key>
  <string>germandbls.glif</string>
  <key>glottalstop-cans</key>
  <string>glottalstop-cans.glif</string>
  <key>grave</key>
  <string>grave.glif</string>
  <key>gravecomb</key>
  <string>gravecomb.glif</string>
  <key>greater</key>
  <string>greater.glif</string>
  <key>greaterequal</key>
  <string>greaterequal.glif</string>
  <key>guillemotleft</key>
  <string>guillemotleft.glif</string>
  <key>guillemotright</key>
  <string>guillemotright.glif</string>
  <key>guilsinglleft</key>
  <string>guilsinglleft.glif</string>
  <key>guilsinglright</key>
  <string>guilsinglright.glif</string>
  <key>h</key>
  <string>h.glif</string>
  <key>hCarrier-cans</key>
  <string>hC_arrier-cans.glif</string>
  <key>hairspace</key>
  <string>hairspace.glif</string>
  <key>heeCarrier-cans</key>
  <string>heeC_arrier-cans.glif</string>
  <key>hiCarrier-cans</key>
  <string>hiC_arrier-cans.glif</string>
  <key>hk-cans</key>
  <string>hk-cans.glif</string>
  <key>horizontalbar</key>
  <string>horizontalbar.glif</string>
  <key>hungarumlaut</key>
  <string>hungarumlaut.glif</string>
  <key>hyphen</key>
  <string>hyphen.glif</string>
  <key>hyphenationpoint</key>
  <string>hyphenationpoint.glif</string>
  <key>hyphentwo</key>
  <string>hyphentwo.glif</string>
  <key>i</key>
  <string>i.glif</string>
  <key>i-cans</key>
  <string>i-cans.glif</string>
  <key>iCarrier-cans</key>
  <string>iC_arrier-cans.glif</string>
  <key>iacute</key>
  <string>iacute.glif</string>
  <key>icircumflex</key>
  <string>icircumflex.glif</string>
  <key>idieresis</key>
  <string>idieresis.glif</string>
  <key>igrave</key>
  <string>igrave.glif</string>
  <key>ii-cans</key>
  <string>ii-cans.glif</string>
  <key>imacron</key>
  <string>imacron.glif</string>
  <key>in-cans</key>
  <string>in-cans.glif</string>
  <key>infinity</key>
  <string>infinity.glif</string>
  <key>integral</key>
  <string>integral.glif</string>
  <key>j</key>
  <string>j.glif</string>
  <key>k</key>
  <string>k.glif</string>
  <key>k-cans</key>
  <string>k-cans.glif</string>
  <key>kOjibway-cans</key>
  <string>kO_jibway-cans.glif</string>
  <key>ka-cans</key>
  <string>ka-cans.glif</string>
  <key>kaa-cans</key>
  <string>kaa-cans.glif</string>
  <key>kaai-cans</key>
  <string>kaai-cans.glif</string>
  <key>kahSouthSlavey-cans</key>
  <string>kahS_outhS_lavey-cans.glif</string>
  <key>kayNaskapi-cans</key>
  <string>kayN_askapi-cans.glif</string>
  <key>ke-cans</key>
  <string>ke-cans.glif</string>
  <key>keSouthSlavey-cans</key>
  <string>keS_outhS_lavey-cans.glif</string>
  <key>ki-cans</key>
  <string>ki-cans.glif</string>
  <key>kiSouthSlavey-cans</key>
  <string>kiS_outhS_lavey-cans.glif</string>
  <key>kii-cans</key>
  <string>kii-cans.glif</string>
  <key>ko-cans</key>
  <string>ko-cans.glif</string>
  <key>koSouthSlavey-cans</key>
  <string>koS_outhS_lavey-cans.glif</string>
  <key>koo-cans</key>
  <string>koo-cans.glif</string>
  <key>kooYCree-cans</key>
  <string>kooY_C_ree-cans.glif</string>
  <key>kw-cans</key>
  <string>kw-cans.glif</string>
  <key>kwa-cans</key>
  <string>kwa-cans.glif</string>
  <key>kwaWestCree-cans</key>
  <string>kwaW_estC_ree-cans.glif</string>
  <key>kwaa-cans</key>
  <string>kwaa-cans.glif</string>
  <key>kwaaNaskapi-cans</key>
  <string>kwaaN_askapi-cans.glif</string>
  <key>kwaaWestCree-cans</key>
  <string>kwaaW_estC_ree-cans.glif</string>
  <key>kwayNaskapi-cans</key>
  <string>kwayN_askapi-cans.glif</string>
  <key>kwe-cans</key>
  <string>kwe-cans.glif</string>
  <key>kweWestCree-cans</key>
  <string>kweW_estC_ree-cans.glif</string>
  <key>kwi-cans</key>
  <string>kwi-cans.glif</string>
  <key>kwiWestCree-cans</key>
  <string>kwiW_estC_ree-cans.glif</string>
  <key>kwii-cans</key>
  <string>kwii-cans.glif</string>
  <key>kwiiWestCree-cans</key>
  <string>kwiiW_estC_ree-cans.glif</string>
  <key>kwo-cans</key>
  <string>kwo-cans.glif</string>
  <key>kwoWestCree-cans</key>
  <string>kwoW_estC_ree-cans.glif</string>
  <key>kwoo-cans</key>
  <string>kwoo-cans.glif</string>
  <key>kwooWestCree-cans</key>
  <string>kwooW_estC_ree-cans.glif</string>
  <key>l</key>
  <string>l.glif</string>
  <key>l-cans</key>
  <string>l-cans.glif</string>
  <key>lMedial-cans</key>
  <string>lM_edial-cans.glif</string>
  <key>lWestCree-cans</key>
  <string>lW_estC_ree-cans.glif</string>
  <key>la-cans</key>
  <string>la-cans.glif</string>
  <key>laWestCree-cans</key>
  <string>laW_estC_ree-cans.glif</string>
  <key>laa-cans</key>
  <string>laa-cans.glif</string>
  <key>laaWestCree-cans</key>
  <string>laaW_estC_ree-cans.glif</string>
  <key>laai-cans</key>
  <string>laai-cans.glif</string>
  <key>layWestCree-cans</key>
  <string>layW_estC_ree-cans.glif</string>
  <key>le-cans</key>
  <string>le-cans.glif</string>
  <key>leWestCree-cans</key>
  <string>leW_estC_ree-cans.glif</string>
  <key>less</key>
  <string>less.glif</string>
  <key>lessequal</key>
  <string>lessequal.glif</string>
  <key>li-cans</key>
  <string>li-cans.glif</string>
  <key>lii-cans</key>
  <string>lii-cans.glif</string>
  <key>lo-cans</key>
  <string>lo-cans.glif</string>
  <key>loWestCree-cans</key>
  <string>loW_estC_ree-cans.glif</string>
  <key>logicalnot</key>
  <string>logicalnot.glif</string>
  <key>loo-cans</key>
  <string>loo-cans.glif</string>
  <key>looWestCree-cans</key>
  <string>looW_estC_ree-cans.glif</string>
  <key>looYCree-cans</key>
  <string>looY_C_ree-cans.glif</string>
  <key>lozenge</key>
  <string>lozenge.glif</string>
  <key>lwa-cans</key>
  <string>lwa-cans.glif</string>
  <key>lwaWestCree-cans</key>
  <string>lwaW_estC_ree-cans.glif</string>
  <key>lwaa-cans</key>
  <string>lwaa-cans.glif</string>
  <key>lwaaWestCree-cans</key>
  <string>lwaaW_estC_ree-cans.glif</string>
  <key>lwe-cans</key>
  <string>lwe-cans.glif</string>
  <key>lweWestCree-cans</key>
  <string>lweW_estC_ree-cans.glif</string>
  <key>lwi-cans</key>
  <string>lwi-cans.glif</string>
  <key>lwiWestCree-cans</key>
  <string>lwiW_estC_ree-cans.glif</string>
  <key>lwii-cans</key>
  <string>lwii-cans.glif</string>
  <key>lwiiWestCree-cans</key>
  <string>lwiiW_estC_ree-cans.glif</string>
  <key>lwo-cans</key>
  <string>lwo-cans.glif</string>
  <key>lwoWestCree-cans</key>
  <string>lwoW_estC_ree-cans.glif</string>
  <key>lwoo-cans</key>
  <string>lwoo-cans.glif</string>
  <key>lwooWestCree-cans</key>
  <string>lwooW_estC_ree-cans.glif</string>
  <key>m</key>
  <string>m.glif</string>
  <key>m-cans</key>
  <string>m-cans.glif</string>
  <key>mAthapascan-cans</key>
  <string>mA_thapascan-cans.glif</string>
  <key>mOjibway-cans</key>
  <string>mO_jibway-cans.glif</string>
  <key>mSayisi-cans</key>
  <string>mS_ayisi-cans.glif</string>
  <key>mWestCree-cans</key>
  <string>mW_estC_ree-cans.glif</string>
  <key>ma-cans</key>
  <string>ma-cans.glif</string>
  <key>maa-cans</key>
  <string>maa-cans.glif</string>
  <key>maai-cans</key>
  <string>maai-cans.glif</string>
  <key>macron</key>
  <string>macron.glif</string>
  <key>macroncomb</key>
  <string>macroncomb.glif</string>
  <key>mayNaskapi-cans</key>
  <string>mayN_askapi-cans.glif</string>
  <key>me-cans</key>
  <string>me-cans.glif</string>
  <key>mh-cans</key>
  <string>mh-cans.glif</string>
  <key>mi-cans</key>
  <string>mi-cans.glif</string>
  <key>mii-cans</key>
  <string>mii-cans.glif</string>
  <key>minus</key>
  <string>minus.glif</string>
  <key>mo-cans</key>
  <string>mo-cans.glif</string>
  <key>moo-cans</key>
  <string>moo-cans.glif</string>
  <key>mooYCree-cans</key>
  <string>mooY_C_ree-cans.glif</string>
  <key>multiply</key>
  <string>multiply.glif</string>
  <key>mwa-cans</key>
  <string>mwa-cans.glif</string>
  <key>mwaWestCree-cans</key>
  <string>mwaW_estC_ree-cans.glif</string>
  <key>mwaa-cans</key>
  <string>mwaa-cans.glif</string>
  <key>mwaaNaskapi-cans</key>
  <string>mwaaN_askapi-cans.glif</string>
  <key>mwaaWestCree-cans</key>
  <string>mwaaW_estC_ree-cans.glif</string>
  <key>mwe-cans</key>
  <string>mwe-cans.glif</string>
  <key>mweWestCree-cans</key>
  <string>mweW_estC_ree-cans.glif</string>
  <key>mwi-cans</key>
  <string>mwi-cans.glif</string>
  <key>mwiWestCree-cans</key>
  <string>mwiW_estC_ree-cans.glif</string>
  <key>mwii-cans</key>
  <string>mwii-cans.glif</string>
  <key>mwiiWestCree-cans</key>
  <string>mwiiW_estC_ree-cans.glif</string>
  <key>mwo-cans</key>
  <string>mwo-cans.glif</string>
  <key>mwoWestCree-cans</key>
  <string>mwoW_estC_ree-cans.glif</string>
  <key>mwoo-cans</key>
  <string>mwoo-cans.glif</string>
  <key>mwooWestCree-cans</key>
  <string>mwooW_estC_ree-cans.glif</string>
  <key>n</key>
  <string>n.glif</string>
  <key>n-cans</key>
  <string>n-cans.glif</string>
  <key>nOjibway-cans</key>
  <string>nO_jibway-cans.glif</string>
  <key>na-cans</key>
  <string>na-cans.glif</string>
  <key>naa-cans</key>
  <string>naa-cans.glif</string>
  <key>naai-cans</key>
  <string>naai-cans.glif</string>
  <key>narrownbspace</key>
  <string>narrownbspace.glif</string>
  <key>nay-cans</key>
  <string>nay-cans.glif</string>
  <key>nbspace</key>
  <string>nbspace.glif</string>
  <key>ne-cans</key>
  <string>ne-cans.glif</string>
  <key>ngCarrier-cans</key>
  <string>ngC_arrier-cans.glif</string>
  <key>nh-cans</key>
  <string>nh-cans.glif</string>
  <key>ni-cans</key>
  <string>ni-cans.glif</string>
  <key>nii-cans</key>
  <string>nii-cans.glif</string>
  <key>nine</key>
  <string>nine.glif</string>
  <key>no-cans</key>
  <string>no-cans.glif</string>
  <key>noo-cans</key>
  <string>noo-cans.glif</string>
  <key>nooYCree-cans</key>
  <string>nooY_C_ree-cans.glif</string>
  <key>notequal</key>
  <string>notequal.glif</string>
  <key>noy-cans</key>
  <string>noy-cans.glif</string>
  <key>ntilde</key>
  <string>ntilde.glif</string>
  <key>numbersign</key>
  <string>numbersign.glif</string>
  <key>nwa-cans</key>
  <string>nwa-cans.glif</string>
  <key>nwaWestCree-cans</key>
  <string>nwaW_estC_ree-cans.glif</string>
  <key>nwaa-cans</key>
  <string>nwaa-cans.glif</string>
  <key>nwaaNaskapi-cans</key>
  <string>nwaaN_askapi-cans.glif</string>
  <key>nwaaWestCree-cans</key>
  <string>nwaaW_estC_ree-cans.glif</string>
  <key>nwe-cans</key>
  <string>nwe-cans.glif</string>
  <key>nweWestCree-cans</key>
  <string>nweW_estC_ree-cans.glif</string>
  <key>nwi-cans</key>
  <string>nwi-cans.glif</string>
  <key>nwiOjibway-cans</key>
  <string>nwiO_jibway-cans.glif</string>
  <key>nwii-cans</key>
  <string>nwii-cans.glif</string>
  <key>nwiiOjibway-cans</key>
  <string>nwiiO_jibway-cans.glif</string>
  <key>nwo-cans</key>
  <string>nwo-cans.glif</string>
  <key>nwoOjibway-cans</key>
  <string>nwoO_jibway-cans.glif</string>
  <key>nwoo-cans</key>
  <string>nwoo-cans.glif</string>
  <key>nwooOjibway-cans</key>
  <string>nwooO_jibway-cans.glif</string>
  <key>o</key>
  <string>o.glif</string>
  <key>o-cans</key>
  <string>o-cans.glif</string>
  <key>oY-cans</key>
  <string>oY_-cans.glif</string>
  <key>oacute</key>
  <string>oacute.glif</string>
  <key>objectReplacementCharacter</key>
  <string>objectR_eplacementC_haracter.glif</string>
  <key>ocircumflex</key>
  <string>ocircumflex.glif</string>
  <key>odieresis</key>
  <string>odieresis.glif</string>
  <key>oe</key>
  <string>oe.glif</string>
  <key>ogonek</key>
  <string>ogonek.glif</string>
  <key>ograve</key>
  <string>ograve.glif</string>
  <key>omacron</key>
  <string>omacron.glif</string>
  <key>on-cans</key>
  <string>on-cans.glif</string>
  <key>one</key>
  <string>one.glif</string>
  <key>onehalf</key>
  <string>onehalf.glif</string>
  <key>onequarter</key>
  <string>onequarter.glif</string>
  <key>onesuperior</key>
  <string>onesuperior.glif</string>
  <key>oo-cans</key>
  <string>oo-cans.glif</string>
  <key>ooYCree-cans</key>
  <string>ooY_C_ree-cans.glif</string>
  <key>ordfeminine</key>
  <string>ordfeminine.glif</string>
  <key>ordmasculine</key>
  <string>ordmasculine.glif</string>
  <key>oslash</key>
  <string>oslash.glif</string>
  <key>otilde</key>
  <string>otilde.glif</string>
  <key>p</key>
  <string>p.glif</string>
  <key>p-cans</key>
  <string>p-cans.glif</string>
  <key>pOjibway-cans</key>
  <string>pO_jibway-cans.glif</string>
  <key>pWestCree-cans</key>
  <string>pW_estC_ree-cans.glif</string>
  <key>pa-cans</key>
  <string>pa-cans.glif</string>
  <key>paa-cans</key>
  <string>paa-cans.glif</string>
  <key>paai-cans</key>
  <string>paai-cans.glif</string>
  <key>paragraph</key>
  <string>paragraph.glif</string>
  <key>parenleft</key>
  <string>parenleft.glif</string>
  <key>parenright</key>
  <string>parenright.glif</string>
  <key>partialdiff</key>
  <string>partialdiff.glif</string>
  <key>pay-cans</key>
  <string>pay-cans.glif</string>
  <key>pe-cans</key>
  <string>pe-cans.glif</string>
  <key>percent</key>
  <string>percent.glif</string>
  <key>period</key>
  <string>period.glif</string>
  <key>periodcentered</key>
  <string>periodcentered.glif</string>
  <key>perthousand</key>
  <string>perthousand.glif</string>
  <key>pi</key>
  <string>pi.glif</string>
  <key>pi-cans</key>
  <string>pi-cans.glif</string>
  <key>pii-cans</key>
  <string>pii-cans.glif</string>
  <key>plus</key>
  <string>plus.glif</string>
  <key>plusminus</key>
  <string>plusminus.glif</string>
  <key>po-cans</key>
  <string>po-cans.glif</string>
  <key>poo-cans</key>
  <string>poo-cans.glif</string>
  <key>pooYCree-cans</key>
  <string>pooY_C_ree-cans.glif</string>
  <key>poy-cans</key>
  <string>poy-cans.glif</string>
  <key>product</key>
  <string>product.glif</string>
  <key>punctuationspace</key>
  <string>punctuationspace.glif</string>
  <key>pwa-cans</key>
  <string>pwa-cans.glif</string>
  <key>pwaWestCree-cans</key>
  <string>pwaW_estC_ree-cans.glif</string>
  <key>pwaYCree-cans</key>
  <string>pwaY_C_ree-cans.glif</string>
  <key>pwaa-cans</key>
  <string>pwaa-cans.glif</string>
  <key>pwaaWestCree-cans</key>
  <string>pwaaW_estC_ree-cans.glif</string>
  <key>pwe-cans</key>
  <string>pwe-cans.glif</string>
  <key>pweWestCree-cans</key>
  <string>pweW_estC_ree-cans.glif</string>
  <key>pwi-cans</key>
  <string>pwi-cans.glif</string>
  <key>pwiWestCree-cans</key>
  <string>pwiW_estC_ree-cans.glif</string>
  <key>pwii-cans</key>
  <string>pwii-cans.glif</string>
  <key>pwiiWestCree-cans</key>
  <string>pwiiW_estC_ree-cans.glif</string>
  <key>pwo-cans</key>
  <string>pwo-cans.glif</string>
  <key>pwoWestCree-cans</key>
  <string>pwoW_estC_ree-cans.glif</string>
  <key>pwoo-cans</key>
  <string>pwoo-cans.glif</string>
  <key>pwooWestCree-cans</key>
  <string>pwooW_estC_ree-cans.glif</string>
  <key>pwoy-cans</key>
  <string>pwoy-cans.glif</string>
  <key>q</key>
  <string>q.glif</string>
  <key>qai-cans</key>
  <string>qai-cans.glif</string>
  <key>question</key>
  <string>question.glif</string>
  <key>questiondown</key>
  <string>questiondown.glif</string>
  <key>quotedbl</key>
  <string>quotedbl.glif</string>
  <key>quotedblbase</key>
  <string>quotedblbase.glif</string>
  <key>quotedblleft</key>
  <string>quotedblleft.glif</string>
  <key>quotedblright</key>
  <string>quotedblright.glif</string>
  <key>quoteleft</key>
  <string>quoteleft.glif</string>
  <key>quoteright</key>
  <string>quoteright.glif</string>
  <key>quotesinglbase</key>
  <string>quotesinglbase.glif</string>
  <key>quotesingle</key>
  <string>quotesingle.glif</string>
  <key>r</key>
  <string>r.glif</string>
  <key>r-cans</key>
  <string>r-cans.glif</string>
  <key>rMedial-cans</key>
  <string>rM_edial-cans.glif</string>
  <key>rWestCree-cans</key>
  <string>rW_estC_ree-cans.glif</string>
  <key>ra-cans</key>
  <string>ra-cans.glif</string>
  <key>raa-cans</key>
  <string>raa-cans.glif</string>
  <key>raai-cans</key>
  <string>raai-cans.glif</string>
  <key>radical</key>
  <string>radical.glif</string>
  <key>ray-cans</key>
  <string>ray-cans.glif</string>
  <key>re-cans</key>
  <string>re-cans.glif</string>
  <key>reRCree-cans</key>
  <string>reR_C_ree-cans.glif</string>
  <key>registered</key>
  <string>registered.glif</string>
  <key>ri-cans</key>
  <string>ri-cans.glif</string>
  <key>rii-cans</key>
  <string>rii-cans.glif</string>
  <key>ring</key>
  <string>ring.glif</string>
  <key>ringcomb</key>
  <string>ringcomb.glif</string>
  <key>ro-cans</key>
  <string>ro-cans.glif</string>
  <key>roo-cans</key>
  <string>roo-cans.glif</string>
  <key>rwa-cans</key>
  <string>rwa-cans.glif</string>
  <key>rwaa-cans</key>
  <string>rwaa-cans.glif</string>
  <key>rwaaWestCree-cans</key>
  <string>rwaaW_estC_ree-cans.glif</string>
  <key>rweRCree-cans</key>
  <string>rweR_C_ree-cans.glif</string>
  <key>rwee-cans</key>
  <string>rwee-cans.glif</string>
  <key>rwi-cans</key>
  <string>rwi-cans.glif</string>
  <key>rwii-cans</key>
  <string>rwii-cans.glif</string>
  <key>rwo-cans</key>
  <string>rwo-cans.glif</string>
  <key>rwoo-cans</key>
  <string>rwoo-cans.glif</string>
  <key>s</key>
  <string>s.glif</string>
  <key>s-cans</key>
  <string>s-cans.glif</string>
  <key>s-cans.small</key>
  <string>s-cans.small.glif</string>
  <key>sAthapaskan-cans</key>
  <string>sA_thapaskan-cans.glif</string>
  <key>sBlackfoot-cans</key>
  <string>sB_lackfoot-cans.glif</string>
  <key>sOjibway-cans</key>
  <string>sO_jibway-cans.glif</string>
  <key>sa-cans</key>
  <string>sa-cans.glif</string>
  <key>saa-cans</key>
  <string>saa-cans.glif</string>
  <key>saai-cans</key>
  <string>saai-cans.glif</string>
  <key>say-cans</key>
  <string>say-cans.glif</string>
  <key>scaron</key>
  <string>scaron.glif</string>
  <key>scwaNaskapi-cans</key>
  <string>scwaN_askapi-cans.glif</string>
  <key>se-cans</key>
  <string>se-cans.glif</string>
  <key>section</key>
  <string>section.glif</string>
  <key>semicolon</key>
  <string>semicolon.glif</string>
  <key>seven</key>
  <string>seven.glif</string>
  <key>sh-cans</key>
  <string>sh-cans.glif</string>
  <key>shOjibway-cans</key>
  <string>shO_jibway-cans.glif</string>
  <key>sha-cans</key>
  <string>sha-cans.glif</string>
  <key>shaa-cans</key>
  <string>shaa-cans.glif</string>
  <key>shay-cans</key>
  <string>shay-cans.glif</string>
  <key>she-cans</key>
  <string>she-cans.glif</string>
  <key>shi-cans</key>
  <string>shi-cans.glif</string>
  <key>shii-cans</key>
  <string>shii-cans.glif</string>
  <key>sho-cans</key>
  <string>sho-cans.glif</string>
  <key>shoo-cans</key>
  <string>shoo-cans.glif</string>
  <key>shoy-cans</key>
  <string>shoy-cans.glif</string>
  <key>shwa-cans</key>
  <string>shwa-cans.glif</string>
  <key>shwaWestCree-cans</key>
  <string>shwaW_estC_ree-cans.glif</string>
  <key>shwaa-cans</key>
  <string>shwaa-cans.glif</string>
  <key>shwaaWestCree-cans</key>
  <string>shwaaW_estC_ree-cans.glif</string>
  <key>shwe-cans</key>
  <string>shwe-cans.glif</string>
  <key>shweWestCree-cans</key>
  <string>shweW_estC_ree-cans.glif</string>
  <key>shwi-cans</key>
  <string>shwi-cans.glif</string>
  <key>shwiWestCree-cans</key>
  <string>shwiW_estC_ree-cans.glif</string>
  <key>shwii-cans</key>
  <string>shwii-cans.glif</string>
  <key>shwiiWestCree-cans</key>
  <string>shwiiW_estC_ree-cans.glif</string>
  <key>shwo-cans</key>
  <string>shwo-cans.glif</string>
  <key>shwoWestCree-cans</key>
  <string>shwoW_estC_ree-cans.glif</string>
  <key>shwoo-cans</key>
  <string>shwoo-cans.glif</string>
  <key>shwooWestCree-cans</key>
  <string>shwooW_estC_ree-cans.glif</string>
  <key>shwoy-cans</key>
  <string>shwoy-cans.glif</string>
  <key>si-cans</key>
  <string>si-cans.glif</string>
  <key>sidebearingleft</key>
  <string>sidebearingleft.glif</string>
  <key>sidebearingright</key>
  <string>sidebearingright.glif</string>
  <key>sii-cans</key>
  <string>sii-cans.glif</string>
  <key>six</key>
  <string>six.glif</string>
  <key>sixperemspace</key>
  <string>sixperemspace.glif</string>
  <key>skMooseCree-cans</key>
  <string>skM_ooseC_ree-cans.glif</string>
  <key>skaNaskapi-cans</key>
  <string>skaN_askapi-cans.glif</string>
  <key>skwNaskapi-cans</key>
  <string>skwN_askapi-cans.glif</string>
  <key>slash</key>
  <string>slash.glif</string>
  <key>so-cans</key>
  <string>so-cans.glif</string>
  <key>soo-cans</key>
  <string>soo-cans.glif</string>
  <key>sooYCree-cans</key>
  <string>sooY_C_ree-cans.glif</string>
  <key>soy-cans</key>
  <string>soy-cans.glif</string>
  <key>spaNaskapi-cans</key>
  <string>spaN_askapi-cans.glif</string>
  <key>space</key>
  <string>space.glif</string>
  <key>staNaskapi-cans</key>
  <string>staN_askapi-cans.glif</string>
  <key>sterling</key>
  <string>sterling.glif</string>
  <key>summation</key>
  <string>summation.glif</string>
  <key>sw-cans</key>
  <string>sw-cans.glif</string>
  <key>swNaskapi-cans</key>
  <string>swN_askapi-cans.glif</string>
  <key>swa-cans</key>
  <string>swa-cans.glif</string>
  <key>swaWestCree-cans</key>
  <string>swaW_estC_ree-cans.glif</string>
  <key>swaa-cans</key>
  <string>swaa-cans.glif</string>
  <key>swaaNaskapi-cans</key>
  <string>swaaN_askapi-cans.glif</string>
  <key>swaaWestCree-cans</key>
  <string>swaaW_estC_ree-cans.glif</string>
  <key>swe-cans</key>
  <string>swe-cans.glif</string>
  <key>sweWestCree-cans</key>
  <string>sweW_estC_ree-cans.glif</string>
  <key>swi-cans</key>
  <string>swi-cans.glif</string>
  <key>swiWestCree-cans</key>
  <string>swiW_estC_ree-cans.glif</string>
  <key>swii-cans</key>
  <string>swii-cans.glif</string>
  <key>swiiWestCree-cans</key>
  <string>swiiW_estC_ree-cans.glif</string>
  <key>swo-cans</key>
  <string>swo-cans.glif</string>
  <key>swoWestCree-cans</key>
  <string>swoW_estC_ree-cans.glif</string>
  <key>swoo-cans</key>
  <string>swoo-cans.glif</string>
  <key>swooWestCree-cans</key>
  <string>swooW_estC_ree-cans.glif</string>
  <key>t</key>
  <string>t.glif</string>
  <key>t-cans</key>
  <string>t-cans.glif</string>
  <key>tOjibway-cans</key>
  <string>tO_jibway-cans.glif</string>
  <key>ta-cans</key>
  <string>ta-cans.glif</string>
  <key>taa-cans</key>
  <string>taa-cans.glif</string>
  <key>taai-cans</key>
  <string>taai-cans.glif</string>
  <key>tay-cans</key>
  <string>tay-cans.glif</string>
  <key>te-cans</key>
  <string>te-cans.glif</string>
  <key>th-cans</key>
  <string>th-cans.glif</string>
  <key>thFinalWoodsCree-cans</key>
  <string>thF_inalW_oodsC_ree-cans.glif</string>
  <key>thSayisi-cans</key>
  <string>thS_ayisi-cans.glif</string>
  <key>thThCree-cans</key>
  <string>thT_hC_ree-cans.glif</string>
  <key>tha-cans</key>
  <string>tha-cans.glif</string>
  <key>thaThCree-cans</key>
  <string>thaT_hC_ree-cans.glif</string>
  <key>thaa-cans</key>
  <string>thaa-cans.glif</string>
  <key>thaaThCree-cans</key>
  <string>thaaT_hC_ree-cans.glif</string>
  <key>the-cans</key>
  <string>the-cans.glif</string>
  <key>theNCree-cans</key>
  <string>theN_C_ree-cans.glif</string>
  <key>theThCree-cans</key>
  <string>theT_hC_ree-cans.glif</string>
  <key>thi-cans</key>
  <string>thi-cans.glif</string>
  <key>thiNCree-cans</key>
  <string>thiN_C_ree-cans.glif</string>
  <key>thiThCree-cans</key>
  <string>thiT_hC_ree-cans.glif</string>
  <key>thii-cans</key>
  <string>thii-cans.glif</string>
  <key>thiiNCree-cans</key>
  <string>thiiN_C_ree-cans.glif</string>
  <key>thiiThCree-cans</key>
  <string>thiiT_hC_ree-cans.glif</string>
  <key>thinspace</key>
  <string>thinspace.glif</string>
  <key>tho-cans</key>
  <string>tho-cans.glif</string>
  <key>thoThCree-cans</key>
  <string>thoT_hC_ree-cans.glif</string>
  <key>thoo-cans</key>
  <string>thoo-cans.glif</string>
  <key>thooThCree-cans</key>
  <string>thooT_hC_ree-cans.glif</string>
  <key>thorn</key>
  <string>thorn.glif</string>
  <key>three</key>
  <string>three.glif</string>
  <key>threeperemspace</key>
  <string>threeperemspace.glif</string>
  <key>threequarters</key>
  <string>threequarters.glif</string>
  <key>threesuperior</key>
  <string>threesuperior.glif</string>
  <key>thwa-cans</key>
  <string>thwa-cans.glif</string>
  <key>thwaWoodsCree-cans</key>
  <string>thwaW_oodsC_ree-cans.glif</string>
  <key>thwaa-cans</key>
  <string>thwaa-cans.glif</string>
  <key>thwaaWestCree-cans</key>
  <string>thwaaW_estC_ree-cans.glif</string>
  <key>thwaaWoodsCree-cans</key>
  <string>thwaaW_oodsC_ree-cans.glif</string>
  <key>thwe-cans</key>
  <string>thwe-cans.glif</string>
  <key>thweeWoodsCree-cans</key>
  <string>thweeW_oodsC_ree-cans.glif</string>
  <key>thwiWoodsCree-cans</key>
  <string>thwiW_oodsC_ree-cans.glif</string>
  <key>thwiiWoodsCree-cans</key>
  <string>thwiiW_oodsC_ree-cans.glif</string>
  <key>thwoWoodsCree-cans</key>
  <string>thwoW_oodsC_ree-cans.glif</string>
  <key>thwooWoodsCree-cans</key>
  <string>thwooW_oodsC_ree-cans.glif</string>
  <key>ti-cans</key>
  <string>ti-cans.glif</string>
  <key>tii-cans</key>
  <string>tii-cans.glif</string>
  <key>tilde</key>
  <string>tilde.glif</string>
  <key>tildecomb</key>
  <string>tildecomb.glif</string>
  <key>to-cans</key>
  <string>to-cans.glif</string>
  <key>too-cans</key>
  <string>too-cans.glif</string>
  <key>tooYCree-cans</key>
  <string>tooY_C_ree-cans.glif</string>
  <key>trademark</key>
  <string>trademark.glif</string>
  <key>tsaCarrier-cans</key>
  <string>tsaC_arrier-cans.glif</string>
  <key>tta-cans</key>
  <string>tta-cans.glif</string>
  <key>tte-cans</key>
  <string>tte-cans.glif</string>
  <key>tth-cans</key>
  <string>tth-cans.glif</string>
  <key>ttha-cans</key>
  <string>ttha-cans.glif</string>
  <key>tthe-cans</key>
  <string>tthe-cans.glif</string>
  <key>tthi-cans</key>
  <string>tthi-cans.glif</string>
  <key>ttho-cans</key>
  <string>ttho-cans.glif</string>
  <key>tti-cans</key>
  <string>tti-cans.glif</string>
  <key>tto-cans</key>
  <string>tto-cans.glif</string>
  <key>ttsaCarrier-cans</key>
  <string>ttsaC_arrier-cans.glif</string>
  <key>ttseCarrier-cans</key>
  <string>ttseC_arrier-cans.glif</string>
  <key>ttseeCarrier-cans</key>
  <string>ttseeC_arrier-cans.glif</string>
  <key>ttsiCarrier-cans</key>
  <string>ttsiC_arrier-cans.glif</string>
  <key>ttsoCarrier-cans</key>
  <string>ttsoC_arrier-cans.glif</string>
  <key>ttsuCarrier-cans</key>
  <string>ttsuC_arrier-cans.glif</string>
  <key>twa-cans</key>
  <string>twa-cans.glif</string>
  <key>twaWestCree-cans</key>
  <string>twaW_estC_ree-cans.glif</string>
  <key>twaa-cans</key>
  <string>twaa-cans.glif</string>
  <key>twaaNaskapi-cans</key>
  <string>twaaN_askapi-cans.glif</string>
  <key>twaaWestCree-cans</key>
  <string>twaaW_estC_ree-cans.glif</string>
  <key>twe-cans</key>
  <string>twe-cans.glif</string>
  <key>tweWestCree-cans</key>
  <string>tweW_estC_ree-cans.glif</string>
  <key>twi-cans</key>
  <string>twi-cans.glif</string>
  <key>twiWestCree-cans</key>
  <string>twiW_estC_ree-cans.glif</string>
  <key>twii-cans</key>
  <string>twii-cans.glif</string>
  <key>twiiWestCree-cans</key>
  <string>twiiW_estC_ree-cans.glif</string>
  <key>two</key>
  <string>two.glif</string>
  <key>two-cans</key>
  <string>two-cans.glif</string>
  <key>twoWestCree-cans</key>
  <string>twoW_estC_ree-cans.glif</string>
  <key>twoo-cans</key>
  <string>twoo-cans.glif</string>
  <key>twooWestCree-cans</key>
  <string>twooW_estC_ree-cans.glif</string>
  <key>twosuperior</key>
  <string>twosuperior.glif</string>
  <key>u</key>
  <string>u.glif</string>
  <key>uacute</key>
  <string>uacute.glif</string>
  <key>ucircumflex</key>
  <string>ucircumflex.glif</string>
  <key>udieresis</key>
  <string>udieresis.glif</string>
  <key>ugrave</key>
  <string>ugrave.glif</string>
  <key>underscore</key>
  <string>underscore.glif</string>
  <key>uni00B5</key>
  <string>uni00B_5.glif</string>
  <key>uni2308</key>
  <string>uni2308.glif</string>
  <key>uni2309</key>
  <string>uni2309.glif</string>
  <key>v</key>
  <string>v.glif</string>
  <key>w</key>
  <string>w.glif</string>
  <key>wBlackfoot-cans</key>
  <string>wB_lackfoot-cans.glif</string>
  <key>wECree-cans</key>
  <string>wE_C_ree-cans.glif</string>
  <key>wWCree-cans</key>
  <string>wW_C_ree-cans.glif</string>
  <key>wYCree-cans</key>
  <string>wY_C_ree-cans.glif</string>
  <key>wa-cans</key>
  <string>wa-cans.glif</string>
  <key>waWestCree-cans</key>
  <string>waW_estC_ree-cans.glif</string>
  <key>waa-cans</key>
  <string>waa-cans.glif</string>
  <key>waaNaskapi-cans</key>
  <string>waaN_askapi-cans.glif</string>
  <key>waaWestCree-cans</key>
  <string>waaW_estC_ree-cans.glif</string>
  <key>wayNaskapi-cans</key>
  <string>wayN_askapi-cans.glif</string>
  <key>we-cans</key>
  <string>we-cans.glif</string>
  <key>weWestCree-cans</key>
  <string>weW_estC_ree-cans.glif</string>
  <key>wi-cans</key>
  <string>wi-cans.glif</string>
  <key>wiWestCree-cans</key>
  <string>wiW_estC_ree-cans.glif</string>
  <key>wii-cans</key>
  <string>wii-cans.glif</string>
  <key>wiiWestCree-cans</key>
  <string>wiiW_estC_ree-cans.glif</string>
  <key>wo-cans</key>
  <string>wo-cans.glif</string>
  <key>woWestCree-cans</key>
  <string>woW_estC_ree-cans.glif</string>
  <key>woo-cans</key>
  <string>woo-cans.glif</string>
  <key>wooNaskapi-cans</key>
  <string>wooN_askapi-cans.glif</string>
  <key>wooWestCree-cans</key>
  <string>wooW_estC_ree-cans.glif</string>
  <key>x</key>
  <string>x.glif</string>
  <key>y</key>
  <string>y.glif</string>
  <key>y-cans</key>
  <string>y-cans.glif</string>
  <key>yBibleCree-cans</key>
  <string>yB_ibleC_ree-cans.glif</string>
  <key>yWestCree-cans</key>
  <string>yW_estC_ree-cans.glif</string>
  <key>ya-cans</key>
  <string>ya-cans.glif</string>
  <key>yaa-cans</key>
  <string>yaa-cans.glif</string>
  <key>yaai-cans</key>
  <string>yaai-cans.glif</string>
  <key>yacute</key>
  <string>yacute.glif</string>
  <key>yay-cans</key>
  <string>yay-cans.glif</string>
  <key>ydieresis</key>
  <string>ydieresis.glif</string>
  <key>ye-cans</key>
  <string>ye-cans.glif</string>
  <key>yen</key>
  <string>yen.glif</string>
  <key>yi-cans</key>
  <string>yi-cans.glif</string>
  <key>yiSayisi-cans</key>
  <string>yiS_ayisi-cans.glif</string>
  <key>yii-cans</key>
  <string>yii-cans.glif</string>
  <key>yo-cans</key>
  <string>yo-cans.glif</string>
  <key>yoo-cans</key>
  <string>yoo-cans.glif</string>
  <key>yooYCree-cans</key>
  <string>yooY_C_ree-cans.glif</string>
  <key>yoy-cans</key>
  <string>yoy-cans.glif</string>
  <key>ywa-cans</key>
  <string>ywa-cans.glif</string>
  <key>ywaWestCree-cans</key>
  <string>ywaW_estC_ree-cans.glif</string>
  <key>ywaa-cans</key>
  <string>ywaa-cans.glif</string>
  <key>ywaaNaskapi-cans</key>
  <string>ywaaN_askapi-cans.glif</string>
  <key>ywaaWestCree-cans</key>
  <string>ywaaW_estC_ree-cans.glif</string>
  <key>ywe-cans</key>
  <string>ywe-cans.glif</string>
  <key>yweWestCree-cans</key>
  <string>yweW_estC_ree-cans.glif</string>
  <key>ywi-cans</key>
  <string>ywi-cans.glif</string>
  <key>ywiWestCree-cans</key>
  <string>ywiW_estC_ree-cans.glif</string>
  <key>ywii-cans</key>
  <string>ywii-cans.glif</string>
  <key>ywiiWestCree-cans</key>
  <string>ywiiW_estC_ree-cans.glif</string>
  <key>ywo-cans</key>
  <string>ywo-cans.glif</string>
  <key>ywoWestCree-cans</key>
  <string>ywoW_estC_ree-cans.glif</string>
  <key>ywoo-cans</key>
  <string>ywoo-cans.glif</string>
  <key>ywooWestCree-cans</key>
  <string>ywooW_estC_ree-cans.glif</string>
  <key>z</key>
  <string>z.glif</string>
  <key>zcaron</key>
  <string>zcaron.glif</string>
  <key>zero</key>
  <string>zero.glif</string>
</dict>
</plist>
