<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>_fe-ring</key>
  <string>_fe-ring.glif</string>
  <key>co-cans</key>
  <string>co-cans.glif</string>
  <key>f-cans</key>
  <string>f-cans.glif</string>
  <key>fa-cans</key>
  <string>fa-cans.glif</string>
  <key>fe-cans</key>
  <string>fe-cans.glif</string>
  <key>fi-cans</key>
  <string>fi-cans.glif</string>
  <key>finalrighthalfring-cans</key>
  <string>finalrighthalfring-cans.glif</string>
  <key>fo-cans</key>
  <string>fo-cans.glif</string>
  <key>na-cans</key>
  <string>na-cans.glif</string>
  <key>ni-cans</key>
  <string>ni-cans.glif</string>
  <key>no-cans</key>
  <string>no-cans.glif</string>
  <key>s-cans</key>
  <string>s-cans.glif</string>
  <key>se-cans</key>
  <string>se-cans.glif</string>
  <key>sha-cans</key>
  <string>sha-cans.glif</string>
  <key>she-cans</key>
  <string>she-cans.glif</string>
  <key>sho-cans</key>
  <string>sho-cans.glif</string>
  <key>si-cans</key>
  <string>si-cans.glif</string>
  <key>skwNaskapi-cans</key>
  <string>skwN_askapi-cans.glif</string>
  <key>swNaskapi-cans</key>
  <string>swN_askapi-cans.glif</string>
  <key>th-cans</key>
  <string>th-cans.glif</string>
</dict>
</plist>
