<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>GSOffsetHorizontal</key>
  <integer>62</integer>
  <key>GSOffsetMakeStroke</key>
  <integer>1</integer>
  <key>GSOffsetVertical</key>
  <integer>62</integer>
  <key>com.github.googlei18n.ufo2ft.featureWriters</key>
  <array>
    <dict>
      <key>class</key>
      <string>KernFeatureWriter</string>
    </dict>
    <dict>
      <key>class</key>
      <string>ContextualMarkFeatureWriter</string>
      <key>module</key>
      <string>glyphsLib.featureWriters.markFeatureWriter</string>
    </dict>
    <dict>
      <key>class</key>
      <string>GdefFeatureWriter</string>
    </dict>
    <dict>
      <key>class</key>
      <string>CursFeatureWriter</string>
    </dict>
  </array>
  <key>com.schriftgestaltung.Glyphs.fontUserData</key>
  <dict>
    <key>GSDontShowVersionAlert</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.Glyphs.groupsNotInFeature</key>
    <array/>
  </dict>
  <key>com.schriftgestaltung.appVersion</key>
  <string>3341</string>
  <key>com.schriftgestaltung.customParameter.GSFont.DisplayStrings</key>
  <array>
    <string>/o-cans/oo-cans/oY-cans/ayNaskapi-cans/aayaNaskapi-cans/wa-cans/wayNaskapi-cans/space/space/pOjibway-cans/space/space/pay-cans/space/space/poy-cans/space/space/pwoy-cans</string>
  </array>
  <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
  <true/>
  <key>com.schriftgestaltung.customParameter.GSFont.disablesLastChange</key>
  <true/>
  <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
  <string/>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
  <integer>400</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
  <integer>100</integer>
  <key>com.schriftgestaltung.fontMasterOrder</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.keyboardIncrement</key>
  <integer>1</integer>
  <key>com.schriftgestaltung.weight</key>
  <string>Regular</string>
  <key>com.schriftgestaltung.weightValue</key>
  <integer>400</integer>
  <key>com.schriftgestaltung.width</key>
  <string>Regular</string>
  <key>com.schriftgestaltung.widthValue</key>
  <integer>100</integer>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>.null</string>
    <string>nonmarkingreturn</string>
    <string>space</string>
    <string>quotedbl</string>
    <string>numbersign</string>
    <string>dollar</string>
    <string>percent</string>
    <string>ampersand</string>
    <string>quotesingle</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>asterisk</string>
    <string>plus</string>
    <string>comma</string>
    <string>hyphen</string>
    <string>period</string>
    <string>slash</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>colon</string>
    <string>semicolon</string>
    <string>less</string>
    <string>equal</string>
    <string>greater</string>
    <string>at</string>
    <string>A</string>
    <string>B</string>
    <string>C</string>
    <string>D</string>
    <string>E</string>
    <string>F</string>
    <string>G</string>
    <string>H</string>
    <string>I</string>
    <string>J</string>
    <string>K</string>
    <string>L</string>
    <string>M</string>
    <string>N</string>
    <string>O</string>
    <string>P</string>
    <string>Q</string>
    <string>R</string>
    <string>S</string>
    <string>T</string>
    <string>U</string>
    <string>V</string>
    <string>W</string>
    <string>X</string>
    <string>Y</string>
    <string>Z</string>
    <string>bracketleft</string>
    <string>backslash</string>
    <string>bracketright</string>
    <string>asciicircum</string>
    <string>underscore</string>
    <string>grave</string>
    <string>a</string>
    <string>b</string>
    <string>c</string>
    <string>d</string>
    <string>e</string>
    <string>f</string>
    <string>g</string>
    <string>h</string>
    <string>i</string>
    <string>j</string>
    <string>k</string>
    <string>l</string>
    <string>m</string>
    <string>n</string>
    <string>o</string>
    <string>p</string>
    <string>q</string>
    <string>r</string>
    <string>s</string>
    <string>t</string>
    <string>u</string>
    <string>v</string>
    <string>w</string>
    <string>x</string>
    <string>y</string>
    <string>z</string>
    <string>braceleft</string>
    <string>bar</string>
    <string>braceright</string>
    <string>asciitilde</string>
    <string>Adieresis</string>
    <string>Aring</string>
    <string>Amacron</string>
    <string>Ccedilla</string>
    <string>Eacute</string>
    <string>Ntilde</string>
    <string>Odieresis</string>
    <string>Omacron</string>
    <string>Udieresis</string>
    <string>aacute</string>
    <string>agrave</string>
    <string>acircumflex</string>
    <string>adieresis</string>
    <string>atilde</string>
    <string>aring</string>
    <string>amacron</string>
    <string>ccedilla</string>
    <string>eacute</string>
    <string>egrave</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>emacron</string>
    <string>iacute</string>
    <string>igrave</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>imacron</string>
    <string>ntilde</string>
    <string>oacute</string>
    <string>ograve</string>
    <string>ocircumflex</string>
    <string>odieresis</string>
    <string>omacron</string>
    <string>otilde</string>
    <string>uacute</string>
    <string>ugrave</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>dagger</string>
    <string>degree</string>
    <string>cent</string>
    <string>sterling</string>
    <string>section</string>
    <string>bullet</string>
    <string>paragraph</string>
    <string>germandbls</string>
    <string>registered</string>
    <string>copyright</string>
    <string>trademark</string>
    <string>acute</string>
    <string>dieresis</string>
    <string>notequal</string>
    <string>AE</string>
    <string>Oslash</string>
    <string>infinity</string>
    <string>plusminus</string>
    <string>lessequal</string>
    <string>greaterequal</string>
    <string>yen</string>
    <string>uni00B5</string>
    <string>partialdiff</string>
    <string>summation</string>
    <string>product</string>
    <string>pi</string>
    <string>integral</string>
    <string>ordfeminine</string>
    <string>ordmasculine</string>
    <string>Omega</string>
    <string>ae</string>
    <string>oslash</string>
    <string>questiondown</string>
    <string>exclamdown</string>
    <string>logicalnot</string>
    <string>radical</string>
    <string>florin</string>
    <string>approxequal</string>
    <string>Delta</string>
    <string>guillemotleft</string>
    <string>guillemotright</string>
    <string>ellipsis</string>
    <string>nbspace</string>
    <string>Agrave</string>
    <string>Atilde</string>
    <string>Otilde</string>
    <string>OE</string>
    <string>oe</string>
    <string>endash</string>
    <string>emdash</string>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>quoteleft</string>
    <string>quoteright</string>
    <string>divide</string>
    <string>lozenge</string>
    <string>ydieresis</string>
    <string>Ydieresis</string>
    <string>fraction</string>
    <string>currency</string>
    <string>guilsinglleft</string>
    <string>guilsinglright</string>
    <string>fi</string>
    <string>fl</string>
    <string>daggerdbl</string>
    <string>periodcentered</string>
    <string>quotesinglbase</string>
    <string>quotedblbase</string>
    <string>perthousand</string>
    <string>Acircumflex</string>
    <string>Ecircumflex</string>
    <string>Aacute</string>
    <string>Edieresis</string>
    <string>Emacron</string>
    <string>Egrave</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Imacron</string>
    <string>Igrave</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>dottedcircle</string>
    <string>Ograve</string>
    <string>Uacute</string>
    <string>Ucircumflex</string>
    <string>Ugrave</string>
    <string>dotlessi</string>
    <string>circumflex</string>
    <string>tilde</string>
    <string>macron</string>
    <string>breve</string>
    <string>dotaccent</string>
    <string>ring</string>
    <string>cedilla</string>
    <string>hungarumlaut</string>
    <string>ogonek</string>
    <string>caron</string>
    <string>_heightcontrol</string>
    <string>uni0102</string>
    <string>uni1EAE</string>
    <string>uni1EB6</string>
    <string>uni1EB0</string>
    <string>uni1EB2</string>
    <string>uni1EB4</string>
    <string>uni1EA4</string>
    <string>uni1EAC</string>
    <string>uni1EA6</string>
    <string>uni1EA8</string>
    <string>uni1EAA</string>
    <string>uni1EA0</string>
    <string>uni1EA2</string>
    <string>uni0110</string>
    <string>Eth</string>
    <string>uni1EBE</string>
    <string>uni1EC6</string>
    <string>uni1EC0</string>
    <string>uni1EC2</string>
    <string>uni1EC4</string>
    <string>uni1EB8</string>
    <string>uni1EBA</string>
    <string>uni1EBC</string>
    <string>uni0128</string>
    <string>uni1EC8</string>
    <string>uni1ECA</string>
    <string>uni1ED0</string>
    <string>uni1ED8</string>
    <string>uni1ED2</string>
    <string>uni1ED4</string>
    <string>uni1ED6</string>
    <string>uni1ECC</string>
    <string>uni1ECE</string>
    <string>uni01A0</string>
    <string>uni1EDA</string>
    <string>uni1EE2</string>
    <string>uni1EDC</string>
    <string>uni1EDE</string>
    <string>uni1EE0</string>
    <string>Thorn</string>
    <string>Scaron</string>
    <string>uni1EE4</string>
    <string>uni1EE6</string>
    <string>uni01AF</string>
    <string>uni1EE8</string>
    <string>uni1EF0</string>
    <string>uni1EEA</string>
    <string>uni1EEC</string>
    <string>uni1EEE</string>
    <string>uni0168</string>
    <string>Yacute</string>
    <string>uni1EF4</string>
    <string>Ygrave</string>
    <string>uni1EF6</string>
    <string>uni1EF8</string>
    <string>Zcaron</string>
    <string>uni0103</string>
    <string>uni1EAF</string>
    <string>uni1EB7</string>
    <string>uni1EB1</string>
    <string>uni1EB3</string>
    <string>uni1EB5</string>
    <string>uni1EA5</string>
    <string>uni1EAD</string>
    <string>uni1EA7</string>
    <string>uni1EA9</string>
    <string>uni1EAB</string>
    <string>uni1EA1</string>
    <string>uni1EA3</string>
    <string>uni0111</string>
    <string>eth</string>
    <string>uni1EBF</string>
    <string>uni1EC7</string>
    <string>uni1EC1</string>
    <string>uni1EC3</string>
    <string>uni1EC5</string>
    <string>uni1EB9</string>
    <string>uni1EBB</string>
    <string>uni1EBD</string>
    <string>uni1ECB</string>
    <string>uni1EC9</string>
    <string>uni0129</string>
    <string>uni1ED1</string>
    <string>uni1ED9</string>
    <string>uni1ED3</string>
    <string>uni1ED5</string>
    <string>uni1ED7</string>
    <string>uni1ECD</string>
    <string>uni1ECF</string>
    <string>uni01A1</string>
    <string>uni1EDB</string>
    <string>uni1EE3</string>
    <string>uni1EDD</string>
    <string>uni1EDF</string>
    <string>uni1EE1</string>
    <string>thorn</string>
    <string>scaron</string>
    <string>uni1EE5</string>
    <string>uni1EE7</string>
    <string>uni01B0</string>
    <string>uni1EE9</string>
    <string>uni1EF1</string>
    <string>uni1EEB</string>
    <string>uni1EED</string>
    <string>uni1EEF</string>
    <string>uni0169</string>
    <string>yacute</string>
    <string>uni1EF5</string>
    <string>ygrave</string>
    <string>uni1EF7</string>
    <string>uni1EF9</string>
    <string>zcaron</string>
    <string>Euro</string>
    <string>uni20AB</string>
    <string>gravecomb</string>
    <string>acutecomb</string>
    <string>circumflexcomb</string>
    <string>tildecomb</string>
    <string>uni0304</string>
    <string>uni0306</string>
    <string>uni0307</string>
    <string>dieresiscomb</string>
    <string>uni0309</string>
    <string>caroncomb</string>
    <string>ringcomb</string>
    <string>uni031B</string>
    <string>uni0323</string>
    <string>cedillacomb</string>
    <string>uni03020306</string>
    <string>uni0306.high</string>
    <string>uni00CA0306</string>
    <string>uni00D40306</string>
    <string>uni00EA0306</string>
    <string>uni00F40306</string>
    <string>uni01A00306</string>
    <string>uni01A10306</string>
    <string>uni01AF0306</string>
    <string>uni01B00306</string>
    <string>e-cans</string>
    <string>we-cans</string>
    <string>weWestCree-cans</string>
    <string>en-cans</string>
    <string>i-cans</string>
    <string>ii-cans</string>
    <string>wi-cans</string>
    <string>wiWestCree-cans</string>
    <string>wii-cans</string>
    <string>wiiWestCree-cans</string>
    <string>aai-cans</string>
    <string>in-cans</string>
    <string>wECree-cans</string>
    <string>wWCree-cans</string>
    <string>o-cans</string>
    <string>oo-cans</string>
    <string>ooYCree-cans</string>
    <string>wo-cans</string>
    <string>woWestCree-cans</string>
    <string>woo-cans</string>
    <string>wooWestCree-cans</string>
    <string>wooNaskapi-cans</string>
    <string>oY-cans</string>
    <string>on-cans</string>
    <string>eCarrier-cans</string>
    <string>iCarrier-cans</string>
    <string>a-cans</string>
    <string>aa-cans</string>
    <string>wa-cans</string>
    <string>waWestCree-cans</string>
    <string>waa-cans</string>
    <string>waaWestCree-cans</string>
    <string>waaNaskapi-cans</string>
    <string>ayNaskapi-cans</string>
    <string>aayaNaskapi-cans</string>
    <string>wayNaskapi-cans</string>
    <string>an-cans</string>
    <string>ai-cans</string>
    <string>wYCree-cans</string>
    <string>glottalstop-cans</string>
    <string>finalacute-cans</string>
    <string>finalgrave-cans</string>
    <string>finalbottom-cans</string>
    <string>finaltophalfring-cans</string>
    <string>finalrighthalfring-cans</string>
    <string>finalring-cans</string>
    <string>finalsmallring-cans</string>
    <string>finaldbleacute-cans</string>
    <string>finaldbleshortvstrokes-cans</string>
    <string>finalmiddledot-cans</string>
    <string>finalraiseddot-cans</string>
    <string>finalshorthstroke-cans</string>
    <string>finalplus-cans</string>
    <string>finaldowntack-cans</string>
    <string>pe-cans</string>
    <string>pwe-cans</string>
    <string>pweWestCree-cans</string>
    <string>paai-cans</string>
    <string>pi-cans</string>
    <string>pii-cans</string>
    <string>pwi-cans</string>
    <string>pwiWestCree-cans</string>
    <string>pwii-cans</string>
    <string>pwiiWestCree-cans</string>
    <string>pOjibway-cans</string>
    <string>pa-cans</string>
    <string>paa-cans</string>
    <string>pwa-cans</string>
    <string>pwaWestCree-cans</string>
    <string>pwaa-cans</string>
    <string>pwaaWestCree-cans</string>
    <string>pwaYCree-cans</string>
    <string>pay-cans</string>
    <string>po-cans</string>
    <string>poo-cans</string>
    <string>pooYCree-cans</string>
    <string>poy-cans</string>
    <string>pwoy-cans</string>
    <string>heeCarrier-cans</string>
    <string>hiCarrier-cans</string>
    <string>pwo-cans</string>
    <string>pwoWestCree-cans</string>
    <string>pwoo-cans</string>
    <string>pwooWestCree-cans</string>
    <string>p-cans</string>
    <string>pWestCree-cans</string>
    <string>hCarrier-cans</string>
    <string>te-cans</string>
    <string>twe-cans</string>
    <string>tweWestCree-cans</string>
    <string>tte-cans</string>
    <string>ti-cans</string>
    <string>tii-cans</string>
    <string>twi-cans</string>
    <string>twiWestCree-cans</string>
    <string>twii-cans</string>
    <string>twiiWestCree-cans</string>
    <string>taai-cans</string>
    <string>tti-cans</string>
    <string>tOjibway-cans</string>
    <string>ta-cans</string>
    <string>taa-cans</string>
    <string>twa-cans</string>
    <string>twaWestCree-cans</string>
    <string>twaa-cans</string>
    <string>twaaWestCree-cans</string>
    <string>twaaNaskapi-cans</string>
    <string>tay-cans</string>
    <string>tta-cans</string>
    <string>t-cans</string>
    <string>mWestCree-cans</string>
    <string>to-cans</string>
    <string>too-cans</string>
    <string>tooYCree-cans</string>
    <string>deeCarrier-cans</string>
    <string>diCarrier-cans</string>
    <string>two-cans</string>
    <string>twoWestCree-cans</string>
    <string>twoo-cans</string>
    <string>twooWestCree-cans</string>
    <string>tto-cans</string>
    <string>ke-cans</string>
    <string>kwe-cans</string>
    <string>kweWestCree-cans</string>
    <string>keSouthSlavey-cans</string>
    <string>qai-cans</string>
    <string>kaai-cans</string>
    <string>ki-cans</string>
    <string>kii-cans</string>
    <string>kwi-cans</string>
    <string>kwiWestCree-cans</string>
    <string>kwii-cans</string>
    <string>kwiiWestCree-cans</string>
    <string>kiSouthSlavey-cans</string>
    <string>kOjibway-cans</string>
    <string>ko-cans</string>
    <string>koo-cans</string>
    <string>kooYCree-cans</string>
    <string>kwo-cans</string>
    <string>kwoWestCree-cans</string>
    <string>kwoo-cans</string>
    <string>kwooWestCree-cans</string>
    <string>koSouthSlavey-cans</string>
    <string>kw-cans</string>
    <string>ka-cans</string>
    <string>kaa-cans</string>
    <string>kwa-cans</string>
    <string>kwaWestCree-cans</string>
    <string>kwaa-cans</string>
    <string>kwaaWestCree-cans</string>
    <string>kwaaNaskapi-cans</string>
    <string>kayNaskapi-cans</string>
    <string>kwayNaskapi-cans</string>
    <string>kahSouthSlavey-cans</string>
    <string>k-cans</string>
    <string>ne-cans</string>
    <string>nwe-cans</string>
    <string>nweWestCree-cans</string>
    <string>ni-cans</string>
    <string>nwi-cans</string>
    <string>nwiOjibway-cans</string>
    <string>nii-cans</string>
    <string>nwii-cans</string>
    <string>nwiiOjibway-cans</string>
    <string>naai-cans</string>
    <string>nOjibway-cans</string>
    <string>no-cans</string>
    <string>noo-cans</string>
    <string>nooYCree-cans</string>
    <string>noy-cans</string>
    <string>nwo-cans</string>
    <string>nwoOjibway-cans</string>
    <string>nwoo-cans</string>
    <string>nwooOjibway-cans</string>
    <string>nh-cans</string>
    <string>na-cans</string>
    <string>nwa-cans</string>
    <string>nwaWestCree-cans</string>
    <string>nwaa-cans</string>
    <string>naa-cans</string>
    <string>nwaaWestCree-cans</string>
    <string>nwaaNaskapi-cans</string>
    <string>nay-cans</string>
    <string>n-cans</string>
    <string>ce-cans</string>
    <string>cwe-cans</string>
    <string>cweWestCree-cans</string>
    <string>caai-cans</string>
    <string>ci-cans</string>
    <string>cii-cans</string>
    <string>cwi-cans</string>
    <string>cwiWestCree-cans</string>
    <string>cwii-cans</string>
    <string>cwiiWestCree-cans</string>
    <string>cOjibway-cans</string>
    <string>co-cans</string>
    <string>coo-cans</string>
    <string>cooYCree-cans</string>
    <string>cwo-cans</string>
    <string>cwoWestCree-cans</string>
    <string>cwoo-cans</string>
    <string>cwooWestCree-cans</string>
    <string>thSayisi-cans</string>
    <string>ca-cans</string>
    <string>caa-cans</string>
    <string>cwa-cans</string>
    <string>cwaWestCree-cans</string>
    <string>cwaa-cans</string>
    <string>cwaaWestCree-cans</string>
    <string>cwaaNaskapi-cans</string>
    <string>c-cans</string>
    <string>le-cans</string>
    <string>lwe-cans</string>
    <string>lweWestCree-cans</string>
    <string>laai-cans</string>
    <string>li-cans</string>
    <string>lii-cans</string>
    <string>lwi-cans</string>
    <string>lwiWestCree-cans</string>
    <string>lwii-cans</string>
    <string>lwiiWestCree-cans</string>
    <string>lo-cans</string>
    <string>loo-cans</string>
    <string>looYCree-cans</string>
    <string>lwo-cans</string>
    <string>lwoWestCree-cans</string>
    <string>lwoo-cans</string>
    <string>lwooWestCree-cans</string>
    <string>la-cans</string>
    <string>laa-cans</string>
    <string>lwa-cans</string>
    <string>lwaWestCree-cans</string>
    <string>lwaa-cans</string>
    <string>lwaaWestCree-cans</string>
    <string>layWestCree-cans</string>
    <string>l-cans</string>
    <string>me-cans</string>
    <string>mwe-cans</string>
    <string>mweWestCree-cans</string>
    <string>maai-cans</string>
    <string>mi-cans</string>
    <string>mii-cans</string>
    <string>mwi-cans</string>
    <string>mwiWestCree-cans</string>
    <string>mwii-cans</string>
    <string>mwiiWestCree-cans</string>
    <string>mOjibway-cans</string>
    <string>mo-cans</string>
    <string>moo-cans</string>
    <string>mooYCree-cans</string>
    <string>mwo-cans</string>
    <string>mwoWestCree-cans</string>
    <string>mwoo-cans</string>
    <string>mwooWestCree-cans</string>
    <string>mh-cans</string>
    <string>ma-cans</string>
    <string>maa-cans</string>
    <string>mwa-cans</string>
    <string>mwaWestCree-cans</string>
    <string>mwaa-cans</string>
    <string>mwaaWestCree-cans</string>
    <string>mwaaNaskapi-cans</string>
    <string>mayNaskapi-cans</string>
    <string>m-cans</string>
    <string>mAthapascan-cans</string>
    <string>mSayisi-cans</string>
    <string>ngCarrier-cans</string>
    <string>lWestCree-cans</string>
    <string>lMedial-cans</string>
    <string>se-cans</string>
    <string>swe-cans</string>
    <string>sweWestCree-cans</string>
    <string>saai-cans</string>
    <string>si-cans</string>
    <string>sii-cans</string>
    <string>swi-cans</string>
    <string>swiWestCree-cans</string>
    <string>swii-cans</string>
    <string>swiiWestCree-cans</string>
    <string>sOjibway-cans</string>
    <string>so-cans</string>
    <string>soo-cans</string>
    <string>sooYCree-cans</string>
    <string>swo-cans</string>
    <string>swoWestCree-cans</string>
    <string>swoo-cans</string>
    <string>swooWestCree-cans</string>
    <string>soy-cans</string>
    <string>sa-cans</string>
    <string>saa-cans</string>
    <string>swa-cans</string>
    <string>swaWestCree-cans</string>
    <string>swaa-cans</string>
    <string>swaaWestCree-cans</string>
    <string>swaaNaskapi-cans</string>
    <string>say-cans</string>
    <string>s-cans</string>
    <string>s-cans.small</string>
    <string>sAthapaskan-cans</string>
    <string>sw-cans</string>
    <string>sBlackfoot-cans</string>
    <string>skMooseCree-cans</string>
    <string>skwNaskapi-cans</string>
    <string>swNaskapi-cans</string>
    <string>spaNaskapi-cans</string>
    <string>staNaskapi-cans</string>
    <string>skaNaskapi-cans</string>
    <string>scwaNaskapi-cans</string>
    <string>she-cans</string>
    <string>shwe-cans</string>
    <string>shweWestCree-cans</string>
    <string>shi-cans</string>
    <string>shii-cans</string>
    <string>shwi-cans</string>
    <string>shwiWestCree-cans</string>
    <string>shwii-cans</string>
    <string>shwiiWestCree-cans</string>
    <string>shOjibway-cans</string>
    <string>sho-cans</string>
    <string>shoo-cans</string>
    <string>shwo-cans</string>
    <string>shwoWestCree-cans</string>
    <string>shwoo-cans</string>
    <string>shwooWestCree-cans</string>
    <string>shoy-cans</string>
    <string>shwoy-cans</string>
    <string>sha-cans</string>
    <string>shaa-cans</string>
    <string>shwa-cans</string>
    <string>shwaWestCree-cans</string>
    <string>shwaa-cans</string>
    <string>shwaaWestCree-cans</string>
    <string>shay-cans</string>
    <string>sh-cans</string>
    <string>ye-cans</string>
    <string>ywe-cans</string>
    <string>yweWestCree-cans</string>
    <string>theThCree-cans</string>
    <string>thweeWoodsCree-cans</string>
    <string>yaai-cans</string>
    <string>yi-cans</string>
    <string>yii-cans</string>
    <string>ywi-cans</string>
    <string>ywiWestCree-cans</string>
    <string>ywii-cans</string>
    <string>ywiiWestCree-cans</string>
    <string>thiThCree-cans</string>
    <string>thiiThCree-cans</string>
    <string>thwiWoodsCree-cans</string>
    <string>thwiiWoodsCree-cans</string>
    <string>yo-cans</string>
    <string>yoo-cans</string>
    <string>yooYCree-cans</string>
    <string>ywo-cans</string>
    <string>ywoWestCree-cans</string>
    <string>ywoo-cans</string>
    <string>ywooWestCree-cans</string>
    <string>yoy-cans</string>
    <string>thoThCree-cans</string>
    <string>thooThCree-cans</string>
    <string>thwoWoodsCree-cans</string>
    <string>thwooWoodsCree-cans</string>
    <string>ya-cans</string>
    <string>yaa-cans</string>
    <string>ywa-cans</string>
    <string>ywaWestCree-cans</string>
    <string>ywaa-cans</string>
    <string>ywaaWestCree-cans</string>
    <string>ywaaNaskapi-cans</string>
    <string>yay-cans</string>
    <string>thaThCree-cans</string>
    <string>thaaThCree-cans</string>
    <string>thwaWoodsCree-cans</string>
    <string>thwaaWoodsCree-cans</string>
    <string>y-cans</string>
    <string>thThCree-cans</string>
    <string>yBibleCree-cans</string>
    <string>yWestCree-cans</string>
    <string>yiSayisi-cans</string>
    <string>thFinalWoodsCree-cans</string>
    <string>wBlackfoot-cans</string>
    <string>re-cans</string>
    <string>reRCree-cans</string>
    <string>rwee-cans</string>
    <string>rweRCree-cans</string>
    <string>leWestCree-cans</string>
    <string>ri-cans</string>
    <string>rii-cans</string>
    <string>rwi-cans</string>
    <string>rwii-cans</string>
    <string>raai-cans</string>
    <string>ro-cans</string>
    <string>roo-cans</string>
    <string>rwo-cans</string>
    <string>rwoo-cans</string>
    <string>loWestCree-cans</string>
    <string>looWestCree-cans</string>
    <string>laWestCree-cans</string>
    <string>laaWestCree-cans</string>
    <string>ra-cans</string>
    <string>raa-cans</string>
    <string>rwa-cans</string>
    <string>rwaa-cans</string>
    <string>rwaaWestCree-cans</string>
    <string>ray-cans</string>
    <string>r-cans</string>
    <string>rWestCree-cans</string>
    <string>rMedial-cans</string>
    <string>fe-cans</string>
    <string>faai-cans</string>
    <string>fi-cans</string>
    <string>fii-cans</string>
    <string>fo-cans</string>
    <string>foo-cans</string>
    <string>fa-cans</string>
    <string>faa-cans</string>
    <string>fwaa-cans</string>
    <string>fwaaWestCree-cans</string>
    <string>f-cans</string>
    <string>the-cans</string>
    <string>thwe-cans</string>
    <string>theNCree-cans</string>
    <string>thi-cans</string>
    <string>thii-cans</string>
    <string>thiNCree-cans</string>
    <string>thiiNCree-cans</string>
    <string>tho-cans</string>
    <string>thoo-cans</string>
    <string>tha-cans</string>
    <string>thaa-cans</string>
    <string>thwa-cans</string>
    <string>thwaa-cans</string>
    <string>thwaaWestCree-cans</string>
    <string>th-cans</string>
    <string>tthe-cans</string>
    <string>tthi-cans</string>
    <string>ttho-cans</string>
    <string>ttha-cans</string>
    <string>tth-cans</string>
    <string>tsaCarrier-cans</string>
    <string>chuCarrier-cans</string>
    <string>choCarrier-cans</string>
    <string>cheCarrier-cans</string>
    <string>cheeCarrier-cans</string>
    <string>chiCarrier-cans</string>
    <string>chaCarrier-cans</string>
    <string>ttsuCarrier-cans</string>
    <string>ttsoCarrier-cans</string>
    <string>ttseCarrier-cans</string>
    <string>ttseeCarrier-cans</string>
    <string>ttsiCarrier-cans</string>
    <string>ttsaCarrier-cans</string>
    <string>chisign-cans</string>
    <string>fullstop-cans</string>
    <string>hk-cans</string>
    <string>onesuperior</string>
    <string>twosuperior</string>
    <string>threesuperior</string>
    <string>foursuperior</string>
    <string>onehalf</string>
    <string>onequarter</string>
    <string>threequarters</string>
    <string>hyphenationpoint</string>
    <string>bulletoperator</string>
    <string>brokenbar</string>
    <string>hyphentwo</string>
    <string>nonbreakinghyphen</string>
    <string>softhyphen</string>
    <string>figuredash</string>
    <string>horizontalbar</string>
    <string>minus</string>
    <string>multiply</string>
    <string>divisionslash</string>
    <string>blank</string>
    <string>graphemejoinercomb</string>
    <string>VS1</string>
    <string>VS2</string>
    <string>VS3</string>
    <string>VS4</string>
    <string>VS5</string>
    <string>VS6</string>
    <string>VS7</string>
    <string>VS8</string>
    <string>VS9</string>
    <string>VS10</string>
    <string>VS11</string>
    <string>VS12</string>
    <string>VS13</string>
    <string>VS14</string>
    <string>VS15</string>
    <string>VS16</string>
    <string>wordjoiner</string>
    <string>zerowidthjoiner</string>
    <string>zeroWidthNoBreakSpace</string>
    <string>zerowidthnonjoiner</string>
    <string>zerowidthspace</string>
    <string>lineseparator</string>
    <string>objectReplacementCharacter</string>
    <string>paragraphseparator</string>
    <string>uni2308</string>
    <string>uni2309</string>
    <string>emquad</string>
    <string>emspace</string>
    <string>narrownbspace</string>
    <string>punctuationspace</string>
    <string>sixperemspace</string>
    <string>threeperemspace</string>
    <string>enquad</string>
    <string>enspace</string>
    <string>fourperemspace</string>
    <string>figurespace</string>
    <string>thinspace</string>
    <string>hairspace</string>
    <string>replacementCharacter</string>
    <string>sidebearingleft</string>
    <string>sidebearingright</string>
  </array>
  <key>public.postscriptNames</key>
  <dict>
    <key>FontBslnSideBrngMrkrLft</key>
    <string>uniF130</string>
    <key>FontBslnSideBrngMrkrRt</key>
    <string>uniF131</string>
    <key>Ohm</key>
    <string>Omega</string>
    <key>VS1</key>
    <string>uniFE00</string>
    <key>VS10</key>
    <string>uniFE09</string>
    <key>VS11</key>
    <string>uniFE0A</string>
    <key>VS12</key>
    <string>uniFE0B</string>
    <key>VS13</key>
    <string>uniFE0C</string>
    <key>VS14</key>
    <string>uniFE0D</string>
    <key>VS15</key>
    <string>uniFE0E</string>
    <key>VS16</key>
    <string>uniFE0F</string>
    <key>VS2</key>
    <string>uniFE01</string>
    <key>VS3</key>
    <string>uniFE02</string>
    <key>VS4</key>
    <string>uniFE03</string>
    <key>VS5</key>
    <string>uniFE04</string>
    <key>VS6</key>
    <string>uniFE05</string>
    <key>VS7</key>
    <string>uniFE06</string>
    <key>VS8</key>
    <string>uniFE07</string>
    <key>VS9</key>
    <string>uniFE08</string>
    <key>bulletoperator</key>
    <string>uni2219</string>
    <key>caroncomb</key>
    <string>uni030C</string>
    <key>cedillacomb</key>
    <string>uni0327</string>
    <key>circumflexcomb</key>
    <string>uni0302</string>
    <key>dieresiscomb</key>
    <string>uni0308</string>
    <key>divisionslash</key>
    <string>uni2215</string>
    <key>dottedCircle</key>
    <string>uni25CC</string>
    <key>emquad</key>
    <string>uni2001</string>
    <key>emspace</key>
    <string>uni2003</string>
    <key>enquad</key>
    <string>uni2000</string>
    <key>enspace</key>
    <string>uni2002</string>
    <key>euro</key>
    <string>Euro</string>
    <key>fi</key>
    <string>uniFB01</string>
    <key>figurespace</key>
    <string>uni2007</string>
    <key>fl</key>
    <string>uniFB02</string>
    <key>fourperemspace</key>
    <string>uni2005</string>
    <key>foursuperior</key>
    <string>uni2074</string>
    <key>graphemejoinercomb</key>
    <string>uni034F</string>
    <key>guillemetleft</key>
    <string>guillemotleft</string>
    <key>guillemetright</key>
    <string>guillemotright</string>
    <key>hairspace</key>
    <string>uni200A</string>
    <key>horizontalbar</key>
    <string>uni2015</string>
    <key>hyphenationpoint</key>
    <string>uni2027</string>
    <key>hyphentwo</key>
    <string>uni2010</string>
    <key>idotless</key>
    <string>dotlessi</string>
    <key>lineseparator</key>
    <string>uni2028</string>
    <key>micro</key>
    <string>uni00B5</string>
    <key>narrownbspace</key>
    <string>uni202F</string>
    <key>nbspace</key>
    <string>uni00A0</string>
    <key>nonbreakinghyphen</key>
    <string>uni2011</string>
    <key>objectrepchar</key>
    <string>uniFFFC</string>
    <key>onesuperior</key>
    <string>uni00B9</string>
    <key>openbox</key>
    <string>uni2423</string>
    <key>paragraphseparator</key>
    <string>uni2029</string>
    <key>punctuationspace</key>
    <string>uni2008</string>
    <key>repchar</key>
    <string>uniFFFD</string>
    <key>ringcomb</key>
    <string>uni030A</string>
    <key>sixperemspace</key>
    <string>uni2006</string>
    <key>softhyphen</key>
    <string>uni00AD</string>
    <key>thinspace</key>
    <string>uni2009</string>
    <key>threeperemspace</key>
    <string>uni2004</string>
    <key>threesuperior</key>
    <string>uni00B3</string>
    <key>twosuperior</key>
    <string>uni00B2</string>
    <key>wordjoiner</key>
    <string>uni2060</string>
    <key>zerowidthjoiner</key>
    <string>uni200D</string>
    <key>zerowidthnobreakspace</key>
    <string>uniFEFF</string>
    <key>zerowidthnonjoiner</key>
    <string>uni200C</string>
    <key>zerowidthspace</key>
    <string>uni200B</string>
  </dict>
</dict>
</plist>
